body {
    font-family: Arial, sans-serif;
    background-color: #121212; 
    color: #FFFFFF; 
    margin: 0;
    padding: 20px;
}

img {
    max-width: 100%; 
    height: auto; 
}

header {
    text-align: center;
    margin-bottom: 20px;
}
h2{
    align-items: center;
    left: 90px;
}
.info {
    margin-bottom: 20px;
}

.authors {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 20px;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;     /* Центрирование по вертикали */
    text-align: center;
}

.author-column {
    background-color: #1f1f1f; 
    border: 2px solid gray; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 30%; 
    margin: 10px; 
}

.author-column img {
    width: 100%; /* Задаст ширину в 100% от контейнера */
    width: 300px; /* Максимальная ширина, чтобы картинка не растягивалась слишком сильно */
    height: 300px;
}


@media (max-width: 768px) {
    .authors {
        flex-direction: column; 
        align-items: center; 
    }

    .author-column {
        width: 80%; 
        margin: 10px 0; 
    }
}

footer {
    text-align: center;
    margin-top: 20px;
}

img {
    border-radius: 9px;
}
